{% set encoding = 'utf-8' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            <a href="#"><img src="{{ url_for('static', filename='img/brainstorm.png') }}" alt="Logo"></a>
            <h1>IMR</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="{{ url_for('blogs') }}">Blog</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>
    <div class="about-section">
        <div class="container2">
            <h1>About Us</h1>
            <p>IMR is a project aimed at providing state-of-the-art technology for the detection of brain
                abnormalities using machine learning algorithms. Our team consists of experienced professionals who are
                passionate about advancing the field of medical technology and improving patient outcomes.</p>
            <h2>Our Mission</h2>
            <p>Our mission is to make cutting-edge brain detection technology accessible to medical professionals and
                patients worldwide. We believe that early detection and accurate diagnosis of brain abnormalities can
                significantly improve treatment outcomes and quality of life for patients.</p>
            <h2>Our Team</h2>
            <ul class="team-members" style="list-style-type: none;">
                <li>
                    <a href="https://www.linkedin.com/in/tolgaozkaya/">
                        <img src="https://media.licdn.com/dms/image/D4D03AQGuGny6QPMiaw/profile-displayphoto-shrink_400_400/0/1712401763789?e=1723680000&v=beta&t=qvtUhxeDICxq4LwlveSbbxhLJvg9Qx5Hj1TFAXOul0s"
                            alt="Team Member 1" style="width: 200px; height: 200px; border-radius: 60%;">
                        <h3>Tolga Özkaya</h3>
                        <p>Backend Developer</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3> Intelligent Magnetic Resonance - IMR </h3>
                        <p>Our mission is to provide disease detection services from accurate and reliable MR results
                            using the latest technology.</p><br>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            Üniversiteler Mah., ODTÜ Teknokent<br>
                            Ankara, Çankaya 06800<br>
                            Türkiye<br>
                            <strong>Phone:</strong> (0312) 268 32 35<br>
                            <strong>Email:</strong> info@projectimr.com<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>IMR &copy; 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/yourfontawesomekey.js" crossorigin="anonymous"></script>
</body>

</html>