{% set encoding = 'utf-8' %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blog1.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            <a href="#"><img src="{{ url_for('static', filename='img/brainstorm.png') }}" alt="Logo"></a>
            <h1>IMR</h1>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="{{ url_for('blogs') }}">Blog</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </header>
    <div class="about-section">
        <div class="container2">
            <h1>Alzheimer Detection and Classifier using SVM (Kernel: Linear)</h1>
            <h2>1. Problem Definition</h2>

            <body>
                <h2>Introduction:</h2>
                <p>Alzheimer's disease (AD) is a neurodegenerative disease that is the leading cause of dementia and
                    affects millions of people worldwide. Early detection of AD is critical for timely treatment and
                    management, as it can significantly improve the quality of life for patients and their families.
                    Machine learning algorithms have shown great promise in detecting AD using various biomarkers, such
                    as MRI images, cerebrospinal fluid, and blood samples. One such algorithm is Support Vector Machines
                    (SVM) with a linear kernel. In this blog post, we will explore the use of SVM with a linear kernel
                    for AD detection using MRI images, its advantages and limitations, and future research directions.
                </p>
                <p>Alzheimer is known as the most common cause of dementia, accounting for 2/3 of the whole dementia
                    population, and its cause is still unknown. According to papers from Lancet Neurology, even old
                    theories such as neural inflammations have been disregarded as the cause compared to
                    tau-protein, beta-amyloids, and genetic factors (Apo E4).
                </p>
                <p>
                    I will explain more about Alzheimer's because the data contains four classes of
                    Alzheimer that depend on the severity of dementia.
                </p>
                <br>
                <p>
                    There are degrees of severity in Alzheimer:
                </p>
                <ul>
                    <li>Very mildly demented: This is the stage where patients start to forget where they put their
                        stuff, other people's names recently, etc. It is hard to detect through cognitive ability
                        tests.</li><br>
                    <li>Mildly demented: This is the stage where patients don't remember words, can't find their way
                        to the destination, loss of focus and work abilities. This is also the stage where patients
                        even forget that they are losing memory. From this stage, cognitive testing can find it.
                    </li><br>
                    <li>Moderately demented: The patients start to forget recent activities, important old
                        histories, have a hard time calculating the budget, hard to go outside alone, and loss of
                        empathy.</li>
                </ul>
                <br>
                <p>There are three more stages in the moderately dementia, and in the terminal stage, the patient
                    can't move on their own while they lose the ability to speak. But I assume that the current
                    dataset from Kaggle [https://www.kaggle.com/datasets/sachinkumar413/alzheimer-mri-dataset] is
                    considering all these stages merged inside 'Moderately demented' or not even considered.
                </p>
                <p>
                    Knowing these stages is important because the faster the stage the patient is at, the treatment
                    will have a higher effect in terms of slowing the process. If dementia is found during the
                    moderately demented stage, it is known that the patient will pass away in three years. (One of
                    the reported cases is a rhythm guitarist Malcom from the band AC/DC, who was diagnosed with
                    severe dementia in 2014.)
                </p>
                <p>
                    Having an AI that detects Alzheimer's dementia in the early stage can allow longer life
                    expectancy for the patient as well as higher life quality overall from the slowdown of dementia.
                </p>
                <p>
                    Alzheimer cannot only be found with cognitive ability testing but also through MRI or CT by
                    looking at the ventricles of the brain and cortical atrophy. The theoretical foundation for this
                    project is solid. Doctors find that the patient with Alzheimer's has a brain with enlarged
                    ventricles (that lie in the center of the brain) as well as a thinner cortical grey area of the
                    brain.
                </p>
                <h2>2. Data:</h2>
                <h2>About Dataset</h2>
                <p>The Alzheimer MRI Preprocessed Dataset consists of preprocessed MRI (Magnetic Resonance Imaging)
                    images collected from several websites, hospitals, and public repositories. All the images are
                    resized into 128 x 128 pixels. The dataset has four classes of images, with a total of 6400 MRI
                    images:</p>
                <ul>
                    <li>Class 1: Mild Demented (896 images)</li>
                    <li>Class 2: Moderate Demented (64 images)</li>
                    <li>Class 3: Non Demented (3200 images)</li>
                    <li>Class 4: Very Mild Demented (2240 images)</li>
                </ul>
                <br>
                <p>The main motive behind sharing this dataset is to design/develop an accurate framework or
                    architecture for the classification of Alzheimer's Disease.</p>
                <h2>References</h2>
                <ul>
                    <li><a href="https://adni.loni.usc.edu/">https://adni.loni.usc.edu/</a></li>
                    <li><a href="https://www.alzheimers.net/">https://www.alzheimers.net/</a></li>
                    <li><a
                            href="https://www.kaggle.com/datasets/jboysen/mri-and-alzheimers">https://www.kaggle.com/datasets/jboysen/mri-and-alzheimers</a>
                    </li>
                    <li><a
                            href="https://ieeexplore.ieee.org/document/9521165">https://ieeexplore.ieee.org/document/9521165</a>
                    </li>
                    <li><a
                            href="https://catalog.data.gov/dataset/alzheimers-disease-and-healthy-aging-data">https://catalog.data.gov/dataset/alzheimers-disease-and-healthy-aging-data</a>
                    </li>
                    <li><a
                            href="https://www.nature.com/articles/s41598-020-79243-9">https://www.nature.com/articles/s41598-020-79243-9</a>
                    </li>
                    <li><a
                            href="https://cordis.europa.eu/article/id/429468-the-final-epad-dataset-is-now-available-on-the-alzheimer-s-disease-workbench">https://cordis.europa.eu/article/id/429468-the-final-epad-dataset-is-now-available-on-the-alzheimer-s-disease-workbench</a>
                    </li>
                </ul>
                <h2>3. Methodology:</h2>
                <p>We split the ADNI dataset into training and testing sets with a ratio of 80:20. We applied
                    principal
                    component analysis (PCA) to reduce the dimensionality of the data before training the SVM model.
                    PCA
                    is a widely used technique for reducing the dimensionality of data while preserving most of the
                    variability in the data. We also used cross-validation to tune the hyperparameters of the SVM
                    model.
                </p>
                <h2>4. Results:</h2>
                <p>Our SVM model achieved an accuracy of 98% in the classification of AD patients and healthy controls.
                    The sensitivity and specificity of the model were 97.5% and 98.6%, respectively. The area under the
                    ROC curve was 0.987, indicating excellent discriminative power. These results demonstrate the
                    effectiveness of SVM with a linear kernel for AD detection using MRI images.</p>
                <h2>5. Advantages and Limitations:</h2>
                <p>One of the advantages of SVM with a linear kernel is its ability to work with high-dimensional
                    data,
                    such as MRI images. This makes SVM with a linear kernel particularly useful for AD detection
                    using
                    imaging data. SVM with a linear kernel also provides a clear separation between classes, making
                    it
                    easier to interpret the results. However, one of the limitations of SVM with a linear kernel is
                    that
                    it may not perform well when the data is non-linearly separable. In such cases, SVM with a
                    non-linear kernel may be more appropriate.</p>
                <h2>6. Future Research Directions:</h2>
                <p>Future research on SVM with a linear kernel for AD detection should focus on several areas.
                    Firstly,
                    larger datasets should be used to validate the performance of the model. Secondly, the model
                    should
                    be tested on different populations and imaging protocols to investigate its generalizability.
                    Thirdly, the model should be compared to other machine learning algorithms to determine its
                    relative
                    effectiveness. Finally, the model should be extended to include other biomarkers, such as
                    cerebrospinal fluid and blood samples, to improve its accuracy and sensitivity.</p>
                <h2>7. Conclusion:</h2>
                <p>In conclusion , SVM with a linear kernel is a promising machine learning algorithm for AD
                    detection
                    using MRI images. Our results showed that SVM with a linear kernel achieved high accuracy,
                    sensitivity, and specificity in the classification of AD patients and healthy controls. However,
                    further research is needed to validate the performance of the model on larger datasets and
                    different
                    populations and imaging protocols. In addition, the model should be extended to include other
                    biomarkers to improve its accuracy and sensitivity. With continued research and development, SVM
                    with a linear kernel has the potential to become an important tool for early detection and
                    management of AD, ultimately improving the lives of millions of people worldwide.</p> <br>
                <div style="text-align:center">
                    <img src="{{ url_for('static', filename='img/alzheimer.jpg') }}" style="width: 725px; height: 500px"
                        alt="Brain Tumor Image">
                </div>
        </div>
    </div>

    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 footer-info">
                        <h3> Intelligent Magnetic Resonance - IMR </h3>
                        <p>Our mission is to provide disease detection services from accurate and reliable MR
                            results
                            using the latest technology.</p><br>
                    </div>
                    <div class="col-lg-4 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            Üniversiteler Mah., ODTÜ Teknokent<br>
                            Ankara, Çankaya 06800<br>
                            Türkiye<br>
                            <strong>Phone:</strong> (0312) 268 32 35<br>
                            <strong>Email:</strong> info@projectimr.com<br>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>IMR &copy; 2023</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/yourfontawesomekey.js" crossorigin="anonymous"></script>
</body>

</html>